nav.sticky,
.home .home-desc button,
.chat-icon,
.chatbox-desc,
.about .about-header span,
.about .about-desc i.fa,
.active-menu,
.section-header div.line,
.product .product-content button,
.product .swiperArrow,
.chef .chef-content,
.testmonial .testmonial-content .client-name,
.contact button,
footer,
.goup,
.colorMenu .icon-cog

{
    background: #d70d25;
}

.home .home-desc h1 span,
.about .about-header h2,
.lb-data .lb-number,
.section-header h2,
.Menu .menu-desc h4,
.chef .chef-content a,
.contact .contact-desc i.fa,
.contact .contact-desc h4
{
    color: #d70d25;
}
.about img,
.testmonial .testmonial-content:hover img{
    border: 5px solid #d70d25;
    transition: all .5s;
}
.Menu .menu-list li{
    border: 2px solid #d70d25;
}
.success-stroke {
    stroke: #d70d25;
}
.testmonial .testmonial-content ul li:hover{ 
    border-right: 10px solid #d70d25;
    border-left: 10px solid #d70d25;
}
@media(max-width:768px){
    nav{
        background: #d70d25;
    }
    nav ul li a, nav ul li a:hover{
        color: #d70d25;
    }
}